@using OutOfOffice_Main.Enums
@using OutOfOffice_Main.Models.Entities
@model ApprovalRequest

@{
    ViewData["Title"] = "Approval request details";
}


<div>
    @if (Model == null)
    {
        <h2>There is no request with this Id</h2>
    }
    else
    {
        <h1>Approval request details:</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="mt-3">
                <label class="form-label">Id</label>
                <input type="number" class="form-control" asp-for="Id" disabled />
            </div>
            <div class="mt-3">
                <label class="form-label">Approver</label>
                <input type="text" class="form-control" asp-for="Approver.FullName" disabled />
            </div>
            <div class="mt-3">
                <label class="form-label">LeaveRequestId</label>
                <input type="number" class="form-control" asp-for="LeaveRequestId" disabled />
            </div>
            <div class="mt-3">
                <label class="form-label">Comment</label>
                <input type="text" class="form-control" asp-for="Comment" id="commentField" />
            </div>
            <div class="mt-3">
                <label class="form-label">Status</label>
                <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" required id="statusField">
                </select>
            </div>

            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary w-25">Save</button>
            </div>
        </form>
    }
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var statusField = document.getElementById('statusField');
            var commentField = document.getElementById('commentField');
           
            function toggleCommentField() {
                console.log(statusField.value);
                if (statusField.value == 0) {
                    commentField.required = true;
                } else {
                    commentField.required = false;
                }
            }

            statusField.addEventListener('change', toggleCommentField);

            toggleCommentField();
        });
    </script>
}