@using OutOfOffice_Main.Enums
@using OutOfOffice_Main.Models
@model AddEditEmployeeViewModel

@{
    ViewData["Title"] = "Edit employee";
}

<div>
    @if(Model == null)
    {
        <h2>There is no employee with this Id</h2>
    }
    else
    {
        @if (User.IsInRole("HRManager"))
        {
            <h1>Edit employee:</h1>
        }
        else
        {
            <h1>Employee details:</h1>
        }

        <form method="post" enctype="multipart/form-data">
            <div class="mt-3">
                <label class="form-label">Full name*</label>
                <input type="text" class="form-control" asp-for="FullName" minlength="5" maxlength="60" required placeholder="input full name" />
            </div>
            <div class="mt-3">
                <label class="form-label">Subdivision*</label>
                <select class="form-control" asp-for="Subdivision" asp-items="Html.GetEnumSelectList<Department>()" required>
                </select>
            </div>
            <div class="mt-3">
                <label class="form-label">Position*</label>
                <select class="form-control" asp-for="Position" asp-items="Html.GetEnumSelectList<Position>()" required>
                </select>
            </div>
            <div class="mt-3">
                <label class="form-label">Status*</label>
                <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" required>
                </select>
            </div>
            <div class="mt-3">
                <label class="form-label">PeoplePartnerId</label>
                <select class="form-control" asp-for="PeoplePartnerId">
                    <option selected="selected" value="">Select or not</option>
                    @foreach (var partner in Model.Partners)
                    {
                        <option value="@partner.Id">@partner.FullName|@partner.Position</option>
                    }
                </select>
            </div>
            <div class="mt-3">
                <label class="form-label">OutOfOfficeBalance*</label>
                <input type="number" class="form-control" asp-for="OutOfOfficeBalance" min="0" max="100000" required />
            </div>

            @if (!string.IsNullOrEmpty(Model.PhotoBase64))
            {
                <div class="mt-3">
                    <h3>Фото:</h3>
                    <img src="data:image/jpeg;base64,@Model.PhotoBase64" alt="Фото працівника" />
                </div>
            }

            <div class="mt-3">
                <label class="form-label">Photo</label>
                <input type="file" class="form-control" asp-for="Photo" />
            </div>

            @if (User.IsInRole("HRManager"))
            {
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary w-25">Edit</button>
                    <button type="submit" class="btn btn-danger w-25" asp-controller="Lists" asp-action="DeleteEmployee" asp-route-id="@Model.Id">Delete</button>
                </div>
            }

        </form>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var isProjectManager = '@User.IsInRole("ProjectManager")';

            if (isProjectManager === 'True') {
                $('input, select, textarea').addClass('readonly');
            }
        });
    </script>
}

